/*

NOTE:
WRITE YOUR OWN CUSTOM CSS STYLES HERE.

*/

/* Spacer for vertical spacing instead of <br> tags */
.spacer {
    margin-top: 10vh; /* Adjust as needed */
}

/* Responsive image for desktop and mobile */
.responsive-img {
    width: auto;
    height: 200%;
    max-width: 70vh;
    object-fit: cover;
}

/* Gallery Items Equal Height */
/*
.gallery-item {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.gallery-item img {
    height: 250px;
    object-fit: cover;
}

.gallery-overlay {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
    */